.titulo-inicio {
  margin-top: 48px;
  margin-left: 40px;
}

.lista-empresa {
  display: flex;
  align-items: center;
  margin-left: 40px;
  width: 272px;
  height: 160px;
  background-color: #ffffff;
}

.lista-empresa-icon {
  margin-left: 110px;
}

.cadastrar_empresa {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-left: 450px;
  width: 272px;
  height: 160px;
  background-color: #ffffff;
}
