.header {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
}

.Shape {
  display: flex;
  width: 30px;
  height: 20px;
  margin: 14px;
}

.Agrotis-Titulo {
  display: flex;
  width: 30px;
  height: 20px;
  margin: 14px;
  margin-left: 0px;
  padding: 0px;
}
