form {
  background-color: white;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;
  max-width: 730px;
}

form fieldset {
  margin-top: 64px;
  border: 0;
}

form legend h2 {
  display: flex;
  font-size: 24px;
}

form .field {
  justify-content: center;
  display: flex;
  margin-bottom: 24px;
}
