.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50px;
  background-color: #1b1d29;
}

.IconBranco {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 12px 0px 0px 8px;
  padding: 6px;
}

.Home_Work {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 20px 0px 0px 8px;
  padding: 6px;
}

.Group {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 20px 0px 0px 8px;
  padding: 6px;
}
